
body {
	background-color: #ced3f9;
	font-family: Arial;
}

h1 {
	color: #002d69;
	text-align: center;
}

thead {
	color: #2310a3;
}

td {
	color: #24004b;
}

.introduction {
	color: #330069;
	text-align: center;
}

img {
	max-width: 200px;
	max-height: 150px;
	display: block;
}

h3 {
	color: #410085;
	text-align: center;
}
